body {
    background-color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
}

hgroup {
    width: 40%;
    /* height: 80%;*/
    background-color: cornsilk;
    color: brown;
    display: block;
    padding: 10px;
    border-radius: 30px;
    margin: 20px;
    text-align: center;
}


/* "font-style font-variant font-weight font-size/line-height font-family"
font-style: normal|italic|oblique|initial|inherit;
font-variant: normal|small-caps|initial|inherit;
font-weight: normal|bold|bolder|lighter|number|initial|inherit;
font-size:medium|xx-small|x-small|small|large|x-large|xx-large|smaller|larger|length|initial|inherit;
*/

span {
    font: bold larger Georgia, serif;
}

.exercise {
    padding: 0px 20px;
    margin-bottom: 20px;
    text-align: left;
    /*float: left;*/
}


.results {
    background-color: cornsilk;
    border-radius: 10px;
    color: firebrick;
    font-weight: bold;
    margin: 5px 0px 0px 0px;
    padding: 5px 10px;
    /*text-indent: 20px;*/
    visibility: hidden;
    width: 100%;
}

.warn {
    color: crimson;
    text-indent: 0px;
}

#fizzBuzzResult {
    /* font-family: Consolas, monaco, monospace; */
    visibility:hidden;
    font-family: monaco, monospace;
    text-indent: 0px;
    width: 100%;
    text-align: justify;
    font-size:x-small;
    overflow:auto;
}

#palindromeResult {
    text-indent: 0px;
    width: 100%;
}


.jobDetail {
background-color: aqua;
    text-align: justify;
    font-size:larger;
    font-weight:300;
}

.jobLocation {
    text-align: center;
}